
/* Cấu hình cho toàn trang */
body {
    font-family: "Nunito Sans", sans-serif;
    background-image: url("../img/price1-bg.jpg");
    margin: 0;
    padding: 0;
    padding-top: 70px; /* Chừa khoảng trống cho header cố định */
    }
    
    .container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    }
    
    /* Sidebar */
    .sidebar {
    flex: 0 0 25%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height:280px;
    
    }
    .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    
    .sidebar ul li {
    margin-bottom: 15px;
    }
    
    .sidebar ul li a {
    text-decoration: none;
    color: #ba2d02;
    font-size: 20px;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.3s ease;
    }
    
    .sidebar ul li a.active,
    .sidebar ul li a:hover {
    background-color: #e34400;
    color: #fff;
    }
    
    /* Content */
    .content {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    h1 {
    font-size: 38px;
    margin-bottom: 20px;
    color: #ba2d02;
    }
    label{
    font-size: 18px;
    color: #ba2d02;
    }
    
    .form-group {
    margin-bottom: 15px;
    }
    
    .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    }
    
    .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    }
    
    /* Nút */
    button[type="submit"],
    .primary-btn {
    display: inline-block;
    padding: 10px;
    background-color: #f5672a;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    }
    
    button[type="submit"]:hover,
    .primary-btn:hover {
    background-color: #d15926;
    }
    
    .order {
        border: 1px solid #ddd;
        border-radius: 8px;
        margin: 15px auto;
        width: 90%;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .order-header {
        background-color: #f7f7f7;
        padding: 15px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .order-header:hover {
        background-color: #eaeaea;
    }
    .order-header span {
        margin-right: 10px;
    }
    .order-header .icon {
        font-size: 18px;
        color: #555;
        transition: transform 0.3s;
    }
    .order-details {
        display: none;
        padding: 15px;
        background-color: #fff;
        border-top: 1px solid #ddd;
    }
    .order-details.open {
        display: block;
    }